@font-face {
    font-family: Droid;
    src: url(fonts/disposabledroid-bb/DisposableDroidBB.ttf);
}

@font-face {
    font-family: DroidBold;
    src: url(fonts/disposabledroid-bb/DisposableDroidBB_bld.ttf);
}

/* bold with this looks goofy and only show uppercase */
@font-face {
    font-family: Pixeboy;
    src: url(fonts/pixeboy-font/Pixeboy-z8XGD.ttf);
}

body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-family: Droid;
    color: #2f2f2f;
}

.header h3,
button {
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Pixeboy;
}

th {
    font-weight: normal;
    text-transform: uppercase;
    font-family: DroidBold;
    color: #1f1f1f;
    color: black;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 10fr 1fr;
}

.header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px;
    grid-column: 2 span;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 3em 0 10vw;


}

h3.header-title {
    margin: 0;
    font-size: 4em;
}

.header-profile {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: clamp(30px, 4vw, 100px);
}

.header-profile img {
    width: 1.125em;
}

.profile-left,
.profile-right {
    display: flex;
    align-items: center;
    gap: .25em;
    padding: .125em .25em;
}

.profile-right {
    gap: .5em;
}

.profile-left div.text {
    text-transform: capitalize;
}

div.avatar img {
    width: 2em;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2em;
}

.library {
    width: 90%;
    display: flex;
    background-color: #fff;
    padding: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
    height: clamp(200px, 65vh, 600px);
    align-items: start;
    justify-content: center;
    overflow: auto;

}

.library table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: scroll;
    border-radius: inherit;
}

.library::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.library::-webkit-scrollbar-thumb {
    background-color: #7fcfdf;
    border-radius: 8px;
    cursor: pointer;
}

.library::-webkit-scrollbar-track {
    background-color: #fafafa;
    border-radius: inherit;
}

.library table thead tr th {
    background-color: #7fcfdf;
    border-bottom: 1px solid black;
    border-right: 1px dotted black;
    z-index: 1;
    position: sticky;
    top: 0;
    font-size: 1.375em;
}

.library table td {
    border-top: 1px dotted black;
    border-right: 1px dotted black;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    font-size: 1.125em;
}

.library table tbody tr:hover>* {
    background-color: #dfdfdf;
    border: 1px solid black;
    transition: all .25s ease-out;
}

.library table .last-cell {
    border-right: 0;
    text-overflow: none;
}

.library table th,
.library table td {
    padding: 0.375em .5em;
}

.left-aligned {
    text-align: left;
}

.centered {
    text-align: center;
}

.remove-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 2em;
    color: darkred;
}

.remove-btn:hover {
    transform: scale3d(2, 1.1, 1);
    transition: transform .20s ease-in-out;
}

.right-side {
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) -3px 3px 8px;
}

.right-main {
    height: clamp(200px, 65vh, 600px);
    padding: .75em;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.right-side button {
    font-size: 1.125em;
    height: 46px;
    width: 112px;
    border: 1px solid #3f3f3f;
    border-radius: 6px;
    cursor: pointer;
}

.right-side button:hover {
    background-color: #cfcfcf;
    border: 2px solid #3f3f3f;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-box {
    background-color: #fff;
}

.content-box dialog {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#dialog-add {
    background-color: #afafaf;
}

#dialog-filter {
    background-color: bisque;
}

#dialog-suggested {
    background-color: darkslategray;
}

.footer {
    grid-column: 2 span;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 4px;
}